#main-table {
	width:100%;
	margin: 20px 0 0 0;
	padding: 0;
	border: none;
	border-spacing: 0;
    border-collapse: collapse;
}

#test-navigation {
	width: 350px;
	border-right: 1px solid #cccccc;
	vertical-align: top;
}

#test-navigation .count {
	border: 1px solid #cccccc;
}

.pckg {
	border: 2px solid #777777;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

.pckg.diff {
	background: #B6823C;
}

.pckg:hover {
	cursor: pointer;
	background: #E4FC5B;
}

.old0 {
	color: #FF0000;
}

.old1 {
	color: #00FF00;
}

.old2 {
	color: #0000FF;
}

.dialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
}

.dialog > div {
	width: 80%;
	max-height: 80%;
	min-width: 400px;
	margin: 5% 10%;
	overflow: scroll;
	position: relative;
	padding: 10px;
	border-radius: 10px;
	background: #fff;
}

#tests {
	list-style-type: none;
	margin: 0 10px;
	padding: 0;
}

#tests > li {
	border: 1px solid #777777;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
}

#tests > li.selected, #tests > li:hover {
	background: #E4FC5B;
	cursor: pointer;
}

.box {
	height: 36px;
}

.container-1 {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.container-1 #search {
  width: 100%;
  height: 100%;
  background: #eeeeee;
  border: none;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.container-1 .icon {
  position: absolute;
  width: 23px;
  height: 23px;
  margin-left: 5px;
  margin-top: 5px;
  z-index: 1;
  color: #4f5b66;
}

#log-types {
	margin-top: 10px;
	height: 36px;
	vertical-align: center;
}

#log-types>span {
	font-weight: bold;
	float: left;
	margin-right: 20px;
}

.log-type {
	border: 1px solid;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
    display: inline-block;
    float: left;
    margin-right: 10px;
}

.log-type.selected, .log-type:hover {
	background: #E4FC5B;
	cursor: pointer;
}

.log-type .count {
    color: #ffffff;
}

.log-type.OK .count, .log-type.OK.dot {
	background: #33CC33;
}
.OK {
	border-color: #33CC33;
}

.log-type.NOTE .count, .log-type.NOTE.dot {
	background: #3333CC;
}
.NOTE {
	border-color: #3333CC;
}

.log-type.WARNING .count, .log-type.WARNING.dot {
	background: #CCCC00;
}
.WARNING {
	border-color: #CCCC00;
}

.log-type.ERROR .count, .log-type.ERROR.dot {
	background: #CC3333;
}
.ERROR {
	border-color: #CC3333;
}

.dot {
	display: inline;
	margin-right: 10px;
	width: 5px;
	height: 5px;
	border-radius: 50%;
}

.count {
	margin-right: 8px;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 0px 5px;
}

.time-div {
	margin-bottom: 10px;
}

.time-img {
	width: 20px;
	height: 20px;
	margin-right: 10px;
	vertical-align: bottom;
}

.level1 {
	margin-left: 10px;
}
.level2 {
	margin-left: 20px;
}
.level3 {
	margin-left: 30px;
}
.level4 {
	margin-left: 40px;
}

#onlyDiff+label {
	margin-left: 10px;
	color: #B6823C;
}

#onlyNew+label {
	margin-left: 10px;
	color: #FFD700;
}

.new-package {
	background-color: #FFD700;
}

.log-container-container {
	width: 100%;
	display: table;
	table-layout: fixed;
}

.log-container {
    display: table-cell;
}